.app-card {
    margin: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.image-container {
    text-align: center;
}

.image {
    display: block;
    margin: 0 auto;
    max-width: 200px; 
    max-height: 200px;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.search-bar {
    display: flex;
    align-items: center;
}