<matexp-card class="m-2">
    <ng-template matexpCardHeader></ng-template>
    <ng-template matexpCardContent>
        <button mat-button>Hello World</button>
    </ng-template>
    <ng-template matexpCardActions></ng-template>
    <ng-template matexpCardFooter></ng-template>
</matexp-card>

<matexp-card class="mr-2 m-2">
    <ng-template matexpCardHeader></ng-template>
    <ng-template matexpCardContent>
        <button mat-button>Hello World</button>
    </ng-template>
    <ng-template matexpCardActions></ng-template>
    <ng-template matexpCardFooter></ng-template>
</matexp-card>